@import './variables';

h1 {
    font-weight: $font-weight-medium;
    font-size: $font-size-h1;
}

h3 {
    font-size: 1.2rem;
}

.start-screen {
    h1,
    h3 {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .start-screen {
        h1,
        h3 {
            text-align: left;
        }
    }
}
